@import '@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/digi-arbetsformedlingen.css';
@import '@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/fonts/src/fonts.css';

/*HEADER*/
.start {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.digi-logo__img {
  background-image: url('../public/logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 66px; 
  height: 66px;
}

.digi-logo svg {
  display: none; 
}

/*LOGO*/
.digi-footer .digi-logo__img {
  background-image: url('../public/logo-white.svg');
}

/*JOBAD FIRST SECTION*/
.job-info {
  display: flex;
  flex-direction: column;
}

.job-info-margin {
  margin-top: 1rem;
  margin-bottom: 1rem;
}