@import '@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/digi-arbetsformedlingen.css';
@import '@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/fonts/src/fonts.css';
@import 'normalize.css';

:root {
  /* TEXT COLORS */
  --digi--color--text--primary: black;
  --digi--color--text--secondary: white;

  /* LINK COLORS */
  --digi--color--text--link: black;

  /* BACKGROUND COLORS */
  --digi--color--background--primary: #526D9C;
  --digi--color--background--secondary: #6D8FB6;
  --digi--color--background--tertiary: #DBD1CD;
  --digi--color--background--inverted-1: #6D8FB6;

  background-color: #F3E8E8;
}


/*HEADER*/
.digi-logo__img {
  background-image: url('../public/logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 66px; 
  height: 66px;
}

.digi-logo svg {
  display: none; 
}

/* MAIN */
.start {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media only screen and (max-width: 767px) {
  [class="start"] {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

/* turns the active navbar line -> blue color */
.digi-header-navigation-item--active.sc-digi-header-navigation-item-s>a {
  font-weight: bold;
  box-shadow: inset 0 -4px 0 0 #526D9C;
}

/*footer logo*/
.digi-footer .digi-logo__img {
  background-image: url('../public/logo-white.svg');
}